body {
    font-family: Helvetica, sans-serif;
}

header {
    background-image: url("./images/pattern.jpeg");
    text-align: center;
}

h1 {
    font-size: 100px;
    color: khaki;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

span {
    font-weight: bold;
    color: blue;
}